In [3]:
import pandas as pd

In [12]:
# Load the dataset
df = pd.read_csv('data/AB_NYC_2019.csv')

In [13]:
# Quick inspection
df.shape, df.head()

((48895, 16),
      id                                              name  host_id  \
 0  2539                Clean & quiet apt home by the park     2787
 1  2595                             Skylit Midtown Castle     2845
 2  3647               THE VILLAGE OF HARLEM....NEW YORK !     4632
 3  3831                   Cozy Entire Floor of Brownstone     4869
 4  5022  Entire Apt: Spacious Studio/Loft by central park     7192

      host_name neighbourhood_group neighbourhood  latitude  longitude  \
 0         John            Brooklyn    Kensington  40.64749  -73.97237
 1     Jennifer           Manhattan       Midtown  40.75362  -73.98377
 2    Elisabeth           Manhattan        Harlem  40.80902  -73.94190
 3  LisaRoxanne            Brooklyn  Clinton Hill  40.68514  -73.95976
 4        Laura           Manhattan   East Harlem  40.79851  -73.94399

          room_type  price  minimum_nights  number_of_reviews last_review  \
 0     Private room    149               1                  9  2018-10-19
 1  Entire home/apt    225               1                 45  2019-05-21
 2     Private room    150               3                  0         NaN
 3  Entire home/apt     89               1                270  2019-07-05
 4  Entire home/apt     80              10                  9  2018-11-19

    reviews_per_month  calculated_host_listings_count  availability_365
 0               0.21                               6               365
 1               0.38                               2               355
 2                NaN                               1               365
 3               4.64                               1               194
 4               0.10                               1                 0  )

In [8]:
# Check missing values
df.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [9]:
# Drop unnecessary columns
df.drop(['id', 'host_name'], axis=1, inplace=True)

In [10]:

# Fill missing values safely
df['reviews_per_month'] = df['reviews_per_month'].fillna(0)

In [11]:

# Save cleaned version
df.to_csv('data/airbnb_cleaned.csv', index=False)

In [14]:
compare = pd.DataFrame({
    'Before': raw_df['reviews_per_month'],
    'After': df['reviews_per_month']
})

compare.sample(10)  # randomly compare 10 rows

NameError: name 'raw_df' is not defined